In [98]:
# import relate packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets

import warnings
warnings.filterwarnings('ignore')

In [99]:
# run before starting to answer
Boston = datasets.load_boston()
boston = np.concatenate((Boston['data'],Boston['target'].reshape(506,1)),axis=1)
boston = pd.DataFrame(boston, columns= ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 
                                     'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV'])

- Ques-1: Overview of the data
    - a. print the number of samples in the boston data
    - b. print the number of features in the boston data
    - c. view first 5 rows of the boston data

In [100]:
# 1-a
print(len(boston.index))

506

In [101]:
# 1-b
print(len(boston.columns))

14

In [102]:
# 1-c
boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

- Ques 2: Features matrix and target array
    - a. separate the boston data into X and y (hint y= MEDV)
    - b. the shape of X
    - c. the shape of y
    - d. print X and y

In [103]:
# 2-a
X_boston = boston.drop('MEDV', axis=1)
y_boston = boston['MEDV']

In [104]:
# 2-b
print(X_boston.shape)

(506, 13)

In [105]:
# 2-c
print(y_boston.shape)

(506,)

In [106]:
# 2-d
display(X_boston, y_boston)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, Length: 506, dtype: float64

- Ques 3: Linear regression
    - a. import the linear regression class
    - b. fit the boston data with a linear regression using hyperparameter intercept term
    - c. print the coefficient of features
    - d. print the coefficient of intercept term

In [107]:
# 3-a
from sklearn.linear_model import LinearRegression

In [108]:
# 3-b
model = LinearRegression(fit_intercept=True)
model.fit(X_boston, y_boston)

LinearRegression()

In [109]:
# 3-c
model.coef_

array([-1.08011358e-01,  4.64204584e-02,  2.05586264e-02,  2.68673382e+00,
       -1.77666112e+01,  3.80986521e+00,  6.92224640e-04, -1.47556685e+00,
        3.06049479e-01, -1.23345939e-02, -9.52747232e-01,  9.31168327e-03,
       -5.24758378e-01])

In [110]:
# 3-d
model.intercept_

36.45948838509008

- Ques 4: Predict and measure the model performance using mean squared error 
- a. import the mean_squared_error class from metrics module of sklearn library
- b. predict MEDV for the boston data
- c. evaluate the mean squared error between predict MEDV and real MEDV

In [111]:
# 4-a
from sklearn.metrics import mean_squared_error

In [112]:
# 4-b
y_predict = model.predict(X_boston)

In [113]:
# 4-c
mean_squared_error(y_boston, y_predict)

21.894831181729206

- Ques 5: Model validation using holdout dataset
 - a. import the train_test_split class
 - b. split the boston data into X_train, X_test, y_train ,and y_test with 50% in each set (Note: set random_state=1)
 - c. fit the train data with a linear regression
 - d. predict MEDV for the test data
 - e. evaluate the mean squared error between predict MEDV and real MEDV of test data

In [114]:
# 5-a
from sklearn.model_selection import train_test_split

In [115]:
# 5-b
Xtrain, Xtest, ytrain, ytest = train_test_split(X_boston, y_boston, random_state=1, train_size=0.5)

In [116]:
# 5-c
model = LinearRegression(fit_intercept=True)
model.fit(Xtrain, ytrain)

LinearRegression()

In [117]:
# 5-d
y_predict = model.predict(Xtest)

In [118]:
# 5-e
mean_squared_error(ytest, y_predict)

22.83928703864035

- Ques 6: Model validation using cross-validation
    - a. import the cross_val_score class from model_selection module of sklearn library
    - b. use Scikit-Learn's cross_val_score to split the boston data into five
fold and evaluate the model fit by 'neg_mean_squared_error'
    - c. use Scikit-Learn's cross_val_score to split the boston data into five
fold and evaluate the model fit by 'neg_mean_absolute_error'

In [127]:
# 6-a
from sklearn.model_selection import cross_val_score

In [133]:
# 6-b and c
print(cross_val_score(model, X_boston, y_boston, cv=5, scoring='neg_mean_squared_error'))
print(cross_val_score(model, X_boston, y_boston, cv=5, scoring='neg_mean_absolute_error'))

[-12.46030057 -26.04862111 -33.07413798 -80.76237112 -33.31360656]
[-2.62190565 -3.90725478 -4.386606   -5.57073637 -4.76333993]

- Ques 7 : Classification problem
    - a. load the iris data from sklearn.datasets
    - b. set data as iris_X, target as iris_y
    - c. instantiate iris_model using GaussianNB model from naive_bayes library of sklearn 
    and fit the model to the data
    - d. predict the iris_X data and evaluate the model fit using accuracy_score function
    - e. split the iris data into five fold and evaluate the model fit

In [121]:
from sklearn.metrics import accuracy_score

In [153]:
# 7-a
from sklearn.datasets import load_iris
iris = load_iris()

In [152]:
# 7-b
iris_X = pd.DataFrame(iris['data'], columns=iris['feature_names'])
iris_y = pd.DataFrame(iris['target'])
display(iris_X, iris_y)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

     0
0    0
1    0
2    0
3    0
4    0
..  ..
145  2
146  2
147  2
148  2
149  2

[150 rows x 1 columns]

In [154]:
# 7-c
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()
model.fit(iris_X, iris_y)

GaussianNB()

In [157]:
# 7-d
iris_predict = model.predict(iris_X)
accuracy_score(iris_y, iris_predict)

0.96

In [158]:
# 7-e
cross_val_score(model, iris_X, iris_y, cv=5)

array([0.93333333, 0.96666667, 0.93333333, 0.93333333, 1.        ])